arrow==0.12.1
certifi==2018.4.16
chardet==3.0.4
defusedxml==0.5.0
dj-database-url==0.5.0
Django==4.2.5
django-heroku==0.3.1
gunicorn==19.8.1
idna==2.6
oauthlib==2.1.0
psycopg2-binary
PyJWT==1.6.3
python-dateutil==2.7.3
python3-openid==3.1.0
pytz
requests==2.18.4
requests-oauthlib
six==1.11.0
social-auth-app-django
stravalib
units==0.7
urllib3==1.22
whitenoise
python-dotenv==1.0.0